.title {
  margin-top: 210px;
  font-size: var(--font-size-large);
  font-weight: bold;
  letter-spacing: var(--letter-space);
  animation: slideUp 1s ease-in-out;
}

.content {
  margin-top: 40px;
  font-size: var(--font-size-small);
  font-weight: 00;
  color: #b3b3b3;
  line-height: 1.5em;
  letter-spacing: var(--letter-space);
  animation: slideUp 0.8s ease-in-out;
  animation-delay: 0.3s;
}

.button-main {
  margin-top: 40px;
  font-size: var(--font-size-middle);
  padding: 30px 100px 30px 100px;
  border-radius: 7px;
  color: white;
  border: none;
  background-color: black;
  animation: slideUp 0.8s ease-in-out;
  animation-delay: 0.58s;
}

.button-main:hover {
  background-color: var(--color-highlight);
}

.button-main:active {
  background-color: var(--color-dark-highlight);
  /* 클릭할 때 원하는 스타일을 여기에 추가하세요 */
}

.purple {
  color: var(--color-highlight);
}

.purple-less {
  color: var(--color-light-highlight);
}

@keyframes slideUp {
  from {
    transform: translateY(10px) translateY(0);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1028px) {
  .logo {
    width: 180px;
  }

  .title {
    margin-top: 29vh;
    font-size: 48px;
  }

  @keyframes slideUp {
    from {
      transform: translateY(1vh) translateY(0);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .content {
    margin-top: 5vh;
    font-size: 20px;
    line-height: 1.6em;
  }

  .button-main {
    margin-top: 5vh;
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .logo {
    width: 6em;
  }

  .title {
    margin-top: 29vh;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: var(--letter-space);
    animation: slideUp 1s ease-in-out;
  }

  @keyframes slideUp {
    from {
      transform: translateY(1vh) translateY(0);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .content {
    margin-top: 5vh;
    font-size: 0.55em;
    line-height: 1.6em;
  }

  .button-main {
    margin-top: 5vh;
    font-size: 1em;
    padding: 20px 90px 20px 90px;
  }
}

.title,
.content,
.button-main {
  opacity: 0; /* 초기에 요소 숨기기 */
  animation-fill-mode: forwards; /* 애니메이션이 끝난 후에도 마지막 상태를 유지 */
}
